<!DOCTYPE html>
<html lang='zh-tw'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='expires' content='0'>
    <Meta http-equiv='Pragma' Content='No-cache'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <link href='https://bootstrap.hexschool.com/dist/css/bootstrap.css' rel='stylesheet'>
    <!-- <link href='file:///D:/VSCodeWorkSpace/CMSWebServer/css/bootstrap.min.css' rel='stylesheet'> -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <!-- <script src='file:///D:/VSCodeWorkSpace/CMSWebServer/js/jquery-3.2.1.min.js'></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src='https://bootstrap.hexschool.com/dist/js/bootstrap.js'></script>
    <title>OBS Chat CSS Test</title>
    <style>
        /*'Changa One'*/
        @import url('https://fonts.googleapis.com/css?family=Changa One');
        /*'Imprima'*/
        @import url('https://fonts.googleapis.com/css?family=Imprima');
        /*'Noto Sans JP'*/
        @import url('https://fonts.googleapis.com/css?family=Noto Sans JP');
        /*'M PLUS Rounded 1c'*/
        @import url('https://fonts.googleapis.com/css?family=M PLUS Rounded 1c');
        /*'Nico Moji'*/
        @import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');
        /*'Noto Sans TC'*/
        @import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

        html,
        body {
            width: 100%;
            height: 100%;
            font-family: Imprima, Meiryo;
            background-image: url('https://pics.prcm.jp/a538fc10cb21a/47076940/jpeg/47076940.jpeg');
            background-repeat: no-repeat;
            background-position: left center;
        }
        body {
            position: relative;
            overflow: hidden;
        }
        body > div {
            height: calc(100%);
        }
        iframe {
            display: block;
            width: 500px;
            height: 300px;
        }
        input:not(:focus):not(:disabled),
        select:not(:focus):not(:disabled) {
            background-color: rgba(255, 255, 255, .7) !important;
        }
        input::placeholder {
            color: rgba(170, 204, 255, .7) !important;
        }
        input::-webkit-input-placeholder {
            color: rgba(170, 204, 255, .7) !important;
        }
        input::-moz-placeholder {
            color: rgba(170, 204, 255, .7) !important;
        }
        input::-ms-input-placeholder {
            color: rgba(170, 204, 255, .7) !important;
        }

        #ModifyArea {
            overflow: auto;
        }
        #DisplayAreaBlock {
            margin-bottom: 1rem;
            overflow: hidden;
        }

        #MaskForIframe {
            position: absolute;
            margin: 0;
            padding: 0;
            color: transparent;
            background: rgba(255, 0, 0, 0);
            border: 0;
            z-index: 3;
        }

        .border-dotted {
            border-style: dotted !important;
        }
        .fade-enter-active, .fade-leave-active {
            transition: opacity .5s;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }

    </style>
</head>

<body class='container-fluid'>
    <div id='app' class='d-flex flex-column'>
        <div class='row h-100'>
        <!-- Detail Area -->
            <div id='ModifyArea' class='col-6 h-100'>
                <div class='row my-2'>
                    <div class='col-12'>
                        <strong class='h5'>聊天室本體(#chat_box)</strong>
                    </div>
                    <div class='col-12'>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>聊天室字色</span></div>
                            <input type='text' class='form-control' placeholder='#D3D3D3' v-model.lazy='modifyData.CB_color'/>
                            <div class='input-group-prepend'><span class='input-group-text'>聊天室背景色</span></div>
                            <input type='text' class='form-control' placeholder='transparent' v-model.lazy='modifyData.CB_bgcolor'/>
                            <div class='input-group-append'>
                                <button class='btn btn-outline-danger' type='button' data-toggle='collapse' data-target='#collapse_color'>
                                    <span>ⓘ</span>
                                </button>
                            </div>
                        </div>
                        <div id='collapse_color' class='collapse'>
                            <div class='card card-body'>
                                <table class='table table-sm table-bordered m-0'>
                                    <tr><td>顏色名稱(color name)</td><td>瀏覽器支援內建名稱(browsers support the 140 color names)<br/>(ex. red, blue, white, black, transparent...)</td></tr>
                                    <tr><td rowspan='4'>顏色代碼(color code)</td><td>HEX Value: #AACCFF = #ACF</td></tr>
                                    <tr><td>RGB color: rgb(255, 255, 255)</td></tr>
                                    <tr><td>RGBA color: rgba(255, 255, 255, 1)</td></tr>
                                    <tr><td>HSL color: HSL(240, 100%, 50%)</td></tr>
                                </table>
                            </div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>聊天室字體大小</span></div>
                            <input type='text' class='form-control' placeholder='13' v-model.lazy='modifyData.CB_fontsize'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>聊天室字體粗細</span></div>
                            <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CB_fontwidth'>
                                <option value='normal' selected>預設</option>
                                <option value='bold'>粗體</option>
                            </select>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>聊天室字型</span></div>
                            <input type='text' class='form-control' placeholder='"Helvetica Neue", Helvetica, Arial, sans-serif' v-model.lazy='modifyData.CB_fontfamily'/>
                            <div class='input-group-append'>
                                <button class='btn btn-outline-danger' type='button' data-toggle='collapse' data-target='#collapse_fontfamily'>
                                    <span>ⓘ</span>
                                </button>
                            </div>
                        </div>
                        <div id='collapse_fontfamily' class='collapse'>
                            <div class='card card-body'>
                                <table class='table table-sm table-bordered m-0'>
                                    <tr style='font-family: "Helvetica Neue";'><td>"Helvetica Neue"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: Arial;'><td>Arial</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: consolas;'><td>consolas</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: Imprima;'><td>Imprima</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Changa One";'><td>"Changa One"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: Meiryo;'><td>Meiryo</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Noto Sans JP";'><td>"Noto Sans JP"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "M PLUS Rounded 1c";'><td>"M PLUS Rounded 1c"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Nico Moji";'><td>"Nico Moji"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Microsoft JhengHei";'><td>"Microsoft JhengHei"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Microsoft YaHei";'><td>"Microsoft YaHei"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                    <tr style='font-family: "Noto Sans TC";'><td>"Noto Sans TC"</td><td>A sleeping cat. 有一隻睡著的貓. 眠れる猫.</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row mb-2'>
                    <div class='col-12'>
                        <strong class='h5'>聊天室每一行(.chat_line)</strong>
                    </div>
                    <div class='col-12'>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>每行分隔</span></div>
                            <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_display'>
                                <option value='0' selected>預設</option>
                                <option value='1'>暱稱及訊息分隔</option>
                                <option value='2'>暱稱及訊息分行</option>
                            </select>
                        </div>
                        <transition name='fade'>
                            <div class='input-group input-group-sm mb-1' v-if='modifyData.CL_display == "1"'>
                                <div class='input-group-prepend'><span class='input-group-text'>訊息對齊</span></div>
                                <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_display_1_M_align'>
                                    <option value='0' selected>預設無對齊</option>
                                    <option value='55'>每行訊息對齊，寬 55%</option>
                                    <option value='60'>每行訊息對齊，寬 60%</option>
                                    <option value='65'>每行訊息對齊，寬 65%</option>
                                    <option value='70'>每行訊息對齊，寬 70%</option>
                                    <option value='75'>每行訊息對齊，寬 75%</option>
                                    <option value='80'>每行訊息對齊，寬 80%</option>
                                </select>
                                <div class='input-group-prepend'><span class='input-group-text'>暱稱水平對齊</span></div>
                                <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_display_1_N_align' v-bind:disabled='modifyData.CL_display_1_M_align == 0'>
                                    <option value='left' selected>預設靠左</option>
                                    <option value='right'>暱稱靠右</option>
                                </select>
                            </div>
                        </transition>
                        <transition name='fade'>
                            <div class='input-group input-group-sm mb-1' v-if='modifyData.CL_display == "2"'>
                                <div class='input-group-prepend'><span class='input-group-text'>水平對齊</span></div>
                                <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_display_2_align'>
                                        <option value='left' selected>預設向左對齊</option>
                                        <option value='right'>向右對齊</option>
                                </select>
                                <div class='input-group-prepend'><span class='input-group-text'>訊息水平對齊</span></div>
                                <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_display_2_M_align'>
                                    <option value='left' selected>預設向左對齊</option>
                                    <option value='right'>向右對齊</option>
                                </select>
                            </div>
                        </transition>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>外邊距</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>上</span></div>
                            <input type='text' class='form-control' placeholder='2' v-model.lazy='modifyData.CL_margin_top'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>下</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_margin_bottom'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>左</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_margin_left'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>右</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_margin_right'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>內邊距</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>上</span></div>
                            <input type='text' class='form-control' placeholder='2' v-model.lazy='modifyData.CL_padding_top'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>下</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_padding_bottom'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>左</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_padding_left'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>右</span></div>
                            <input type='text' class='form-control' placeholder='3' v-model.lazy='modifyData.CL_padding_right'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>背景色</span></div>
                            <input type='text' class='form-control' placeholder='transparent' v-model.lazy='modifyData.CL_bgcolor'/>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>每行字行間距</span></div>
                            <input type='text' class='form-control' placeholder='1.2' v-model.lazy='modifyData.CL_lineheight'/>
                            <div class='input-group-append'><span class='input-group-text'>em</span></div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>每行動畫</span></div>
                            <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_animation'>
                                <option value='0' selected>無</option>
                                <option value='slideInRight'>slideInRight</option>
                            </select>
                            <div class='input-group-prepend'><span class='input-group-text'>動畫持續時間</span></div>
                            <select class='col-2 custom-select custom-select-sm' v-model.lazy='modifyData.CL_animation_time' v-bind:disabled='modifyData.CL_animation == 0'>
                                <option value='.6' selected>0.6s</option>
                                <option value='1'>1s</option>
                                <option value='1.2'>1.2s</option>
                                <option value='1.8'>1s</option>
                                <option value='2'>2s</option>
                                <option value='3'>3s</option>
                            </select>
                            <div class='input-group-prepend'><span class='input-group-text'>動畫曲線</span></div>
                            <select class='custom-select custom-select-sm' v-model.lazy='modifyData.CL_animation_fn' v-bind:disabled='modifyData.CL_animation == 0'>
                                <option value='ease-in-out' selected>ease-in-out</option>
                                <option value='ease-in'>ease-in</option>
                                <option value='ease-out'>ease-out</option>
                                <option value='linear'>linear</option>
                                <option value='cubic-bezier(.2, 1, .3, 1)'>cubic-bezier(.2, 1, .3, 1)</option>
                            </select>
                            <div class='input-group-append'>
                                <button class='btn btn-outline-danger' type='button' data-toggle='collapse' data-target='#collapse_animation'>
                                    <span>ⓘ</span>
                                </button>
                            </div>
                        </div>
                        <div id='collapse_animation' class='collapse'>
                            <div class='card card-body'>
                                <table class='table table-sm table-bordered m-0'>
                                    <tr><td>想到再做</td></tr>
                                    <tr><td>//slideInRight .6s cubic-bezier(.2, 1, .3, 1);</td></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row mb-2'>
                    <div class='col-12'>
                        <strong class='h5'>單行暱稱(.nick)</strong>
                    </div>
                    <div class='col-12'>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>背景色</span></div>
                            <input type='text' class='form-control' placeholder='transparent' v-model.lazy='modifyData.CLN_bgcolor'/>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>陰影</span></div>
                            <div class='input-group-prepend'>
                                <div class='input-group-text bg-transparent'><input type='checkbox' v-model.lazy='modifyData.CLN_shadow_cb'/></div>
                            </div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>粗細</span>
                            </div>
                            <input type='text' class='form-control' placeholder='1' v-model.lazy='modifyData.CLN_shadowwidth' v-bind:disabled='!modifyData.CLN_shadow_cb'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>擴散</span>
                            </div>
                            <input type='text' class='form-control' placeholder='1' v-model.lazy='modifyData.CLN_shadowblur' v-bind:disabled='!modifyData.CLN_shadow_cb'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>顏色</span>
                            </div>
                            <input type='text' class='form-control' placeholder='#000000' v-model.lazy='modifyData.CLN_shadowcolor' v-bind:disabled='!modifyData.CLN_shadow_cb'/>
                        </div>
                    </div>
                </div>
                <div class='row mb-2'>
                    <div class='col-12'>
                        <strong class='h5'>聊天內容(.message)</strong>
                    </div>
                    <div class='col-12'>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>外邊距</span></div>
                            <input type='text' class='form-control' placeholder='0' v-model.lazy='modifyData.CLM_margin'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'><span class='input-group-text'>內邊距</span></div>
                            <input type='text' class='form-control' placeholder='0' v-model.lazy='modifyData.CLM_padding'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                            <div class='input-group-prepend'><span class='input-group-text'>字色</span></div>
                            <input type='text' class='form-control' placeholder='#D3D3D3' v-model.lazy='modifyData.CLM_color'/>
                            <div class='input-group-prepend'><span class='input-group-text'>背景色</span></div>
                            <input type='text' class='form-control' placeholder='transparent' v-model.lazy='modifyData.CLM_bgcolor'/>
                        </div>
                        <div class='input-group input-group-sm mb-1'>
                        <div class='input-group-prepend'><span class='input-group-text'>陰影</span></div>
                            <div class='input-group-prepend'>
                                <div class='input-group-text bg-transparent'><input type='checkbox' v-model.lazy='modifyData.CLM_shadow_cb' /></div>
                            </div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>粗細</span>
                            </div>
                            <input type='text' class='form-control' placeholder='1' v-model.lazy='modifyData.CLM_shadowwidth' v-bind:disabled='!modifyData.CLM_shadow_cb'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>擴散</span>
                            </div>
                            <input type='text' class='form-control' placeholder='1' v-model.lazy='modifyData.CLM_shadowblur' v-bind:disabled='!modifyData.CLM_shadow_cb'/>
                            <div class='input-group-append'><span class='input-group-text'>px</span></div>
                            <div class='input-group-prepend'>
                                <span class='input-group-text'>顏色</span>
                            </div>
                            <input type='text' class='form-control' placeholder='#000000' v-model.lazy='modifyData.CLM_shadowcolor' v-bind:disabled='!modifyData.CLM_shadow_cb'/>
                        </div>
                    </div>
                </div>
                <div class='row mb-2 text-right'>
                    <div class='col-12'>
                        <strong class='h5'>暫存程式碼 Save CSS Data</strong>
                    </div>
                    <div class='col-12'>
                        <button class='btn btn-outline-warning btn-sm ml-auto' type='button' v-on:click='DisplayCodeClear'>Clear</button>
                        <button class='btn btn-success btn-sm ml-1' type='button' v-on:click='DisplayCodeSave'>Save</button>
                        <button class='btn btn-warning btn-sm ml-1' type='button' v-on:click='DisplayCodeLoad'>Load</button>
                        <button class='btn btn-outline-danger btn-sm ml-1' type='button' v-on:click='DisplayCodeDelete'>Delete</button>
                    </div>
                </div>
                <div class='row mb-2 d-none'>
                    <div class='col-12'></div>
                </div>
            </div>
        <!-- /Detail Area -->

        <!-- Display Area -->
            <div id='DisplayArea' class='col-6 d-flex flex-column'>
                <div class='row my-2'>
                    <div class='col-12'>
                        <strong class='h5'>預覽畫面 Preview</strong>
                    </div>
                    <div class='col-12 d-flex'>
                        <div class='btn-group btn-group-sm btn-group-toggle'>
                            <label class='btn btn-outline-primary' v-bind:class='[displayData.blockProp.bgcolor.background == "white" ? "active" : ""]'><input type='radio' name='DisplayBGRadio' v-model='displayData.blockProp.bgcolor.background' value='white'/>White</label>
                            <label class='btn btn-outline-primary' v-bind:class='[displayData.blockProp.bgcolor.background == "black" ? "active" : ""]'><input type='radio' name='DisplayBGRadio' v-model='displayData.blockProp.bgcolor.background' value='black'/>Black</label>
                            <label class='btn btn-outline-primary' v-bind:class='[displayData.blockProp.bgcolor.background == "yellow" ? "active" : ""]'><input type='radio' name='DisplayBGRadio' v-model='displayData.blockProp.bgcolor.background' value='yellow'/>Yellow</label>
                        </div>
                        <div class='input-group input-group-sm'>
                            <div class='input-group-prepend ml-1'><span class='input-group-text'>寬度 Width</span></div>
                            <input type='text' class='form-control' placeholder='500' v-model.lazy='displayData.iframeProp.width'/>
                            <div class='input-group-prepend'><span class='input-group-text'>高度 Height</span></div>
                            <input type='text' class='form-control' placeholder='300' v-model.lazy='displayData.iframeProp.height'/>
                        </div>
                        <button class='btn btn-success btn-sm ml-1' type='button' v-on:click='DisplayAreaSubmit'>Submit</button>
                        <button class='btn btn-outline-warning btn-sm ml-1' type='button' v-on:click='DisplayAreaCancel'>Reset</button>
                    </div>
                </div>
                <div class='row mb-2 flex-grow-1'>
                    <div class='col-12'>
                        <div id='DisplayAreaBlock' class='position-relative w-100 h-100 border' v-bind:style='displayData.blockProp.bgcolor'>
                            <iframe id='DisplayAreaIframe' class='position-absolute border border-dotted' src='' v-on:load='DisplayAreaIframeLoad'></iframe>
                        </div>
                    </div>
                </div>
                <div class='row mb-2'>
                    <div class='col-12'>
                        <strong class='h5'>複製程式碼 Copy CSS Code</strong>
                    </div>
                    <div class='col-12 d-flex'>
                        <div class='input-group input-group-sm'>
                            <div class='input-group-prepend'><span class='input-group-text'>自訂CSS</span></div>
                            <input type='text' id='CSS_code' class='form-control'/>
                            <div class='input-group-append'>
                                <button class='btn btn-primary' type='button' v-on:click='DisplayCodeCopy'>Copy</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /Display Area -->

        </div>
        <div id='MaskForIframe' v-on:mousemove='MaskMouseMove' v-on:mousedown='MaskMouseDown' v-on:mouseup='MaskMouseUp' v-on:mouseleave='MaskMouseLeave'></div>
    </div>

    <script>
        const defaultModifyData = {
            'CB_color': '#D3D3D3',
            'CB_bgcolor': 'transparent',
            'CB_fontsize': 13,
            'CB_fontwidth': 'normal',
            'CB_fontfamily': '"Helvetica Neue", Helvetica, Arial, sans-serif',

            'CL_display': '0',
            'CL_display_1_N_align': 'left',
            'CL_display_1_M_align': '0',
            'CL_display_2_align': 'left',
            'CL_display_2_M_align': 'left',
            'CL_margin_top': 0,
            'CL_margin_bottom': 0,
            'CL_margin_left': 3,
            'CL_margin_right': 3,
            'CL_padding_top': 2,
            'CL_padding_bottom': 3,
            'CL_padding_left': 0,
            'CL_padding_right': 0,
            'CL_bgcolor': 'transparent',
            'CL_lineheight': 1.2,
            'CL_animation': '0',
            'CL_animation_time': '.6',
            'CL_animation_fn': 'ease-in-out',

            'CLN_bgcolor': 'transparent',
            'CLN_shadow_cb': false,
            'CLN_shadowwidth': 1,
            'CLN_shadowblur': 1,
            'CLN_shadowcolor': '#000000',

            'CLM_margin': 0,
            'CLM_padding': 0,
            'CLM_color': '#D3D3D3',
            'CLM_bgcolor': 'transparent',
            'CLM_shadow_cb': false,
            'CLM_shadowwidth': 1,
            'CLM_shadowblur': 1,
            'CLM_shadowcolor': '#000000'
        };
        let app = new Vue({
            el: '#app',
            data: {
                '__elementDargging': null,
                '__mousePos': null,
                'modifyData': {
                    'CB_color': '#D3D3D3',
                    'CB_bgcolor': 'transparent',
                    'CB_fontsize': 13,
                    'CB_fontwidth': 'normal',
                    'CB_fontfamily': '"Helvetica Neue", Helvetica, Arial, sans-serif',

                    'CL_display': '0',
                    'CL_display_1_N_align': 'left',
                    'CL_display_1_M_align': '0',
                    'CL_display_2_align': 'left',
                    'CL_display_2_M_align': 'left',
                    'CL_margin_top': 0,
                    'CL_margin_bottom': 0,
                    'CL_margin_left': 3,
                    'CL_margin_right': 3,
                    'CL_padding_top': 2,
                    'CL_padding_bottom': 3,
                    'CL_padding_left': 0,
                    'CL_padding_right': 0,
                    'CL_bgcolor': 'transparent',
                    'CL_lineheight': 1.2,
                    'CL_animation': '0',
                    'CL_animation_time': '.6',
                    'CL_animation_fn': 'ease-in-out',

                    'CLN_bgcolor': 'transparent',
                    'CLN_shadow_cb': false,
                    'CLN_shadowwidth': 1,
                    'CLN_shadowblur': 1,
                    'CLN_shadowcolor': '#000000',

                    'CLM_margin': 0,
                    'CLM_padding': 0,
                    'CLM_color': '#D3D3D3',
                    'CLM_bgcolor': 'transparent',
                    'CLM_shadow_cb': false,
                    'CLM_shadowwidth': 1,
                    'CLM_shadowblur': 1,
                    'CLM_shadowcolor': '#000000'
                },
                'displayData': {
                    'blockProp': {
                        'top': '',
                        'right': '',
                        'bottom': '',
                        'left': '',
                        'bgcolor': {'background': 'white'},
                    },
                    'iframeProp': {
                        'onload': false,
                        'src': location.toString().replace(/Test(.*)\.html/, 'Example\.html'),
                        'width': 500,
                        'height': 300
                    }
                }
            },
            mounted: function () {
                console.log('init');
                window.addEventListener('resize', this.WindowResize);
                this.WindowResize();
            },
            computed: {
                CreateCSS: function () {
                    let css = '';
                    if (this.modifyData.CB_fontfamily) {
                        let fonts = ['Changa One', 'Imprima', 'Noto Sans JP', 'M PLUS Rounded 1c', 'Nico Moji', 'Noto Sans TC'];
                        let fontfamily = this.modifyData.CB_fontfamily.split(',');
                        fontfamily.forEach((f, i) => {
                            f = f.trim().replace(/(\")/g, '');
                            if (fonts.indexOf(f) > -1) {
                                switch (f) {
                                    case 'Changa One':
                                        css += `@import url('https://fonts.googleapis.com/css?family=Changa One');`;
                                        break;
                                    case 'Imprima':
                                        css += `@import url('https://fonts.googleapis.com/css?family=Imprima');`;
                                        break;
                                    case 'Noto Sans JP':
                                        css += `@import url('https://fonts.googleapis.com/css?family=Noto Sans JP');`;
                                        break;
                                    case 'M PLUS Rounded 1c':
                                        css += `@import url('https://fonts.googleapis.com/css?family=M PLUS Rounded 1c');`;
                                        break;
                                    case 'Nico Moji':
                                        css += `@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');`;
                                        break;
                                    case 'Noto Sans TC':
                                        css += `@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');`;
                                        break;
                                }
                            }
                        });
                    }

                    css += '#chat_box {';
                    css += `color: ${this.modifyData.CB_color || '#D3D3D3'};`;
                    css += `background: ${this.modifyData.CB_bgcolor || 'transparent'};`;
                    css += `font-size: ${this.modifyData.CB_fontsize || '13'}px;`;
                    css += `font-weight: ${this.modifyData.CB_fontwidth || 'normal'};`;
                    css += `font-family: ${this.modifyData.CB_fontfamily || '"Helvetica Neue", Helvetica, Arial, sans-serif'};`;
                    css += '}';

                    css += '.chat_line {';
                    if (this.modifyData.CL_display == '1') {
                        css += `display: flex;`;
                    } else if (this.modifyData.CL_display == '2') {
                        css += `text-align: ${this.modifyData.CL_display_2_align || 'left'};`;
                    }
                    css += `margin: ${this.modifyData.CL_margin_top || '0'}px ${this.modifyData.CL_margin_right || '3'}px `
                        css += `${this.modifyData.CL_margin_bottom || '0'}px ${this.modifyData.CL_margin_left || '3'}px;`;
                    css += `padding: ${this.modifyData.CL_padding_top || '2'}px ${this.modifyData.CL_padding_right || '0'}px `
                        css += `${this.modifyData.CL_padding_bottom || '3'}px ${this.modifyData.CL_padding_left || '0'}px;`;
                    css += `background: ${this.modifyData.CL_bgcolor || 'transparent'};`;
                    css += `line-height: ${this.modifyData.CL_lineheight || '1.2'}em;`;
                    css += `animation: ${this.modifyData.CL_animation || '0'};`;
                    css += '}';
                    css += '.chat_line .nick {';
                    css += `background: ${this.modifyData.CLN_bgcolor || 'transparent'};`;
                    if (this.modifyData.CL_display == '1') {
                        if (this.modifyData.CL_display_1_M_align != '0') {
                            css += `text-align: ${this.modifyData.CL_display_1_N_align || 'left'};`;
                            css += `flex-basis: 0;`;
                            css += `flex-grow: 1;`;
                            css += `max-width: 100%;`;
                            css += `overflow: hidden;`;
                            css += `text-overflow: ellipsis;`;
                            css += `white-space: nowrap;`;
                        }
                    }
                    if (this.modifyData.CLN_shadow_cb) {
                        let sw = `${this.modifyData.CLN_shadowwidth || '1'}px`;
                        let sb = `${this.modifyData.CLN_shadowblur || '1'}px`;
                        let sc = `${this.modifyData.CLN_shadowcolor || 'black'}`;
                        css += 'text-shadow: ';
                        css += `0 -${sw} ${sb} ${sc},`;
                        css += `${sw} -${sw} ${sb} ${sc},`;
                        css += `${sw} 0 ${sb} ${sc},`;
                        css += `${sw} ${sw} ${sb} ${sc},`;
                        css += `0 ${sw} ${sb} ${sc},`;
                        css += `-${sw} ${sw} ${sb} ${sc},`;
                        css += `-${sw} 0 ${sb} ${sc},`;
                        css += `-${sw} -${sw} ${sb} ${sc}`;
                        css += ';';
                    }
                    css += '}';
                    css += '.chat_line .message {';
                    if (this.modifyData.CL_display == '1') {
                        if (this.modifyData.CL_display_1_M_align != '0') {
                            css += `flex: 0 0 ${this.modifyData.CL_display_1_M_align || '0'}%;`;
                            css += `max-width: ${this.modifyData.CL_display_1_M_align || '0'}%;`;
                        }
                    } else if (this.modifyData.CL_display == '2') {
                        css += `display: block;`;
                        css += `text-align: ${this.modifyData.CL_display_2_M_align || 'left'};`;
                    }
                    css += `margin: ${this.modifyData.CLM_margin || '0'}px;`;
                    css += `padding: ${this.modifyData.CLM_padding || '0'}px;`;
                    css += `color: ${this.modifyData.CLM_color || '#D3D3D3'};`;
                    css += `background: ${this.modifyData.CLM_bgcolor || 'transparent'};`;
                    if (this.modifyData.CLM_shadow_cb) {
                        let sw = `${this.modifyData.CLM_shadowwidth || '1'}px`;
                        let sb = `${this.modifyData.CLM_shadowblur || '1'}px`;
                        let sc = `${this.modifyData.CLM_shadowcolor || 'black'}`;
                        css += 'text-shadow: ';
                        css += `0 -${sw} ${sb} ${sc},`;
                        css += `${sw} -${sw} ${sb} ${sc},`;
                        css += `${sw} 0 ${sb} ${sc},`;
                        css += `${sw} ${sw} ${sb} ${sc},`;
                        css += `0 ${sw} ${sb} ${sc},`;
                        css += `-${sw} ${sw} ${sb} ${sc},`;
                        css += `-${sw} 0 ${sb} ${sc},`;
                        css += `-${sw} -${sw} ${sb} ${sc}`;
                        css += ';';
                    }
                    css += '}';
                    if (this.modifyData.CL_display != '0') {
                    css += '.chat_line .message .emoticon {';
                    css += 'margin-bottom: 0;';
                    css += 'vertical-align: top;';
                    css += '}';
                    }
                    return css;
                }
            },
            methods: {
                WindowResize: function (e) {
                    let iframe = this.$el.querySelector('iframe');
                    this.displayData.blockProp.top = iframe.parentElement.getBoundingClientRect().top;
                    this.displayData.blockProp.right = iframe.parentElement.getBoundingClientRect().right;
                    this.displayData.blockProp.bottom = iframe.parentElement.getBoundingClientRect().bottom;
                    this.displayData.blockProp.left = iframe.parentElement.getBoundingClientRect().left;
                    this.MaskPos();
                },
                DisplayAreaSubmit: function () {
                    console.log('DisplayAreaSubmit');
                    let iframe = this.$el.querySelector('iframe');
                    this.displayData.iframeProp.onload = true;
    	            iframe.style.width = this.displayData.iframeProp.width + 'px';
    	            iframe.style.height = this.displayData.iframeProp.height + 'px';
    	            iframe.src = this.displayData.iframeProp.src;
                    this.MaskPos();
                },
                DisplayAreaCancel: function () {
                    console.log('DisplayAreaCancel');
                    let iframe = this.$el.querySelector('iframe');
                    this.displayData.iframeProp.onload = false;
    	            iframe.style.width = this.displayData.iframeProp.width + 'px';
    	            iframe.style.height = this.displayData.iframeProp.height + 'px';
    	            iframe.src = this.displayData.iframeProp.src;
                },
                DisplayAreaIframeLoad: function () {
                    if (!this.displayData.iframeProp.onload) return false;
                    let style = document.createElement('style');
                    let cssText = document.createTextNode(this.CreateCSS);
                    style.appendChild(cssText);
                    this.$el.querySelector('iframe').contentDocument.head.appendChild(style);
                    this.$el.querySelector('#CSS_code').value = this.CreateCSS;
                    this.$el.querySelector('#CSS_code').select();
                },
                DisplayCodeSave: function () {
                    if (confirm('儲存暫存檔數值?\nSave data to Web Storage?')) {
                    localStorage.modifyData = JSON.stringify(this.modifyData);
                    }
                },
                DisplayCodeLoad: function () {
                    if (!localStorage.modifyData) return false;
                    if (confirm('讀取暫存檔數值?\nLoad data from Web Storage?')) {
                        this.modifyData = JSON.parse(localStorage.modifyData);
                    }
                },
                DisplayCodeClear: function () {
                    if (confirm('清除表單數值?\nClear data on form?')) {
                        this.modifyData = defaultModifyData;
                    }
                },
                DisplayCodeDelete: function () {
                    if (confirm('刪除暫存檔數值?\nDelete data on Web Storage?')) {
                        localStorage.removeItem('modifyData');
                    }
                },
                DisplayCodeCopy: function () {
                    this.$el.querySelector('#CSS_code').select();
                    document.execCommand('copy');
                },
                MaskPos: function () {
                    let iframe = this.$el.querySelector('iframe');
                    let mask = this.$el.querySelector('#MaskForIframe');
                    mask.style.top = this.displayData.blockProp.top + 'px';
                    mask.style.left = this.displayData.blockProp.left + 'px';
                    mask.style.width = this.displayData.iframeProp.width + 'px';
                    mask.style.height = this.displayData.iframeProp.height + 'px';
                    iframe.style.top = 0;
                    iframe.style.left = 0;
                },
                MaskMouseMove: function (e) {
                    if (this.__elementDargging) {
                        let iframe = this.$el.querySelector('iframe');
                        let mask = this.__elementDargging;
                        let mp = this.__mousePos;
                        let rangeTop = this.displayData.blockProp.top;
                        let rangeBottom = this.displayData.blockProp.bottom;
                        let rangeLeft = this.displayData.blockProp.left;
                        let rangeRight = this.displayData.blockProp.right;
                        if (mask.getBoundingClientRect().top + (e.clientY - mp['top']) < rangeTop) {
                            mask.style.top = rangeTop + 'px';
                            iframe.style.top = 0;
                        } else if (mask.getBoundingClientRect().top + (e.clientY - mp['top']) + mask.clientHeight > rangeBottom) {
                            mask.style.top = (rangeBottom - mask.clientHeight) + 'px';
                            iframe.style.top = (iframe.parentElement.clientHeight - iframe.clientHeight) + 'px';
                        } else {
                            mask.style.top = mask.offsetTop + (e.clientY - mp['top']) + 'px';
                            iframe.style.top = iframe.offsetTop + (e.clientY - mp['top']) + 'px';
                        }

                        if (mask.getBoundingClientRect().left + (e.clientX - mp['left']) < rangeLeft) {
                            mask.style.left = rangeLeft + 'px';
                            iframe.style.left = 0;
                        } else if (mask.getBoundingClientRect().left + (e.clientX - mp['left']) + mask.clientWidth > rangeRight) {
                            mask.style.left = (rangeRight - mask.clientWidth) + 'px';
                            iframe.style.left = (iframe.parentElement.clientWidth - iframe.clientWidth) + 'px';
                        } else {
                            mask.style.left = mask.offsetLeft + (e.clientX - mp['left']) + 'px';
                            iframe.style.left = iframe.offsetLeft + (e.clientX - mp['left']) + 'px';
                        }
                        
                        this.__mousePos = {
                            'top': e.clientY,
                            'left': e.clientX
                        };
                    }
                },
                MaskMouseDown: function (e) {
                    this.__elementDargging = e.target;
                    this.__mousePos = {
                        'top': e.clientY,
                        'left': e.clientX
                    };
                },
                MaskMouseUp: function () {
                    this.__elementDargging = null;
                    this.__mousePos = null;
                },
                MaskMouseLeave: function () {
                    this.__elementDargging = null;
                    this.__mousePos = null;
                }
            }
        });
    </script>
</body>

</html>