.icon-none::before {
    content: '不限';
    display: inline-block;
    margin-top: 2px;
}
.icon-all::before {
    content: '全版';
    display: inline-block;
    margin-top: 2px;
}
.icon-row::before {
    content: '横排';
    display: inline-block;
    margin-top: 2px;
}
.icon-col::before {
    content: '縦列';
    display: inline-block;
    margin-top: 2px;
}
.icon-random::before {
    content: '隨機';
    display: inline-block;
    margin-top: 2px;
}
.icon-drop {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-image: url('./icon_drop.png');
    background-repeat: no-repeat;
    background-size: 240px 24px;
}
.i-fire {
    background-position: 0 0;
}
.i-water {
    background-position: -24px 0;
}
.i-wood {
    background-position: -48px 0;
}
.i-light {
    background-position: -72px 0;
}
.i-dark {
    background-position: -96px 0;
}
.i-heart {
    background-position: -120px 0;
}
.i-trash {
    background-position: -144px 0;
}
.i-poison {
    background-position: -168px 0;
}
.i-mpoison {
    background-position: -192px 0;
}
.i-bomb {
    background-position: -216px 0;
}
.icon-type-god {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_1god.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-dragon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_2dragon.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-devil {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_3devil.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-machine {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_4machine.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-balance {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_5balance.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-attack {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_6attack.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-vitality {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_7vitality.png') no-repeat;
    background-size: 24px 24px;
}
.icon-type-recovery {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background: url('./icon_type_8recovery.png') no-repeat;
    background-size: 24px 24px;
}

/******
01: HP增加  02: ATK增加  03: REC增加  04: 火減輕  05: 水減輕  06: 木減輕  07: 光減輕
*/
.icon-awaken {
    display: inline-block;
    width: 24px;
    height: 25px;
    vertical-align: middle;
    background-image: url('./icon_awaken.png');
    background-repeat: no-repeat;
    background-size: 24px 1600px;
}
.i-awaken01 {
    background-position: 0 0;
}
.i-awaken02 {
    background-position: 0 -25px;
}
.i-awaken03 {
    background-position: 0 -50px;
}
.i-awaken04 {
    background-position: 0 -75px;
}
.i-awaken05 {
    background-position: 0 -100px;
}
.i-awaken06 {
    background-position: 0 -125px;
}
.i-awaken07 {
    background-position: 0 -150px;
}
.i-awaken08 {
    background-position: 0 -175px;
}
.i-awaken09 {
    background-position: 0 -200px;
}
.i-awaken10 {
    background-position: 0 -225px;
}
.i-awaken11 {
    background-position: 0 -250px;
}
.i-awaken12 {
    background-position: 0 -275px;
}
.i-awaken13 {
    background-position: 0 -300px;
}
.i-awaken14 {
    background-position: 0 -325px;
}
.i-awaken15 {
    background-position: 0 -350px;
}
.i-awaken16 {
    background-position: 0 -375px;
}
.i-awaken17 {
    background-position: 0 -400px;
}
.i-awaken18 {
    background-position: 0 -425px;
}
.i-awaken19 {
    background-position: 0 -450px;
}
.i-awaken20 {
    background-position: 0 -475px;
}
.i-awaken21 {
    background-position: 0 -500px;
}
.i-awaken22 {
    background-position: 0 -525px;
}
.i-awaken23 {
    background-position: 0 -550px;
}
.i-awaken24 {
    background-position: 0 -575px;
}
.i-awaken25 {
    background-position: 0 -600px;
}
.i-awaken26 {
    background-position: 0 -625px;
}
.i-awaken27 {
    background-position: 0 -650px;
}
.i-awaken28 {
    background-position: 0 -675px;
}
.i-awaken29 {
    background-position: 0 -700px;
}
.i-awaken30 {
    background-position: 0 -725px;
}
.i-awaken31 {
    background-position: 0 -750px;
}
.i-awaken32 {
    background-position: 0 -775px;
}
.i-awaken33 {
    background-position: 0 -800px;
}
.i-awaken34 {
    background-position: 0 -825px;
}
.i-awaken35 {
    background-position: 0 -850px;
}
.i-awaken36 {
    background-position: 0 -875px;
}
.i-awaken37 {
    background-position: 0 -900px;
}
.i-awaken38 {
    background-position: 0 -925px;
}
.i-awaken39 {
    background-position: 0 -950px;
}
.i-awaken40 {
    background-position: 0 -975px;
}
.i-awaken41 {
    background-position: 0 -1000px;
}
.i-awaken42 {
    background-position: 0 -1025px;
}
.i-awaken43 {
    background-position: 0 -1050px;
}
.i-awaken44 {
    background-position: 0 -1075px;
}
.i-awaken45 {
    background-position: 0 -1100px;
}
.i-awaken46 {
    background-position: 0 -1125px;
}
.i-awaken47 {
    background-position: 0 -1150px;
}
.i-awaken48 {
    background-position: 0 -1175px;
}
.i-awaken49 {
    background-position: 0 -1200px;
}
.i-awaken50 {
    background-position: 0 -1225px;
}
.i-awaken51 {
    background-position: 0 -1250px;
}
.i-awaken52 {
    background-position: 0 -1275px;
}
.i-awaken53 {
    background-position: 0 -1300px;
}
.i-awaken54 {
    background-position: 0 -1325px;
}
.i-awaken55 {
    background-position: 0 -1350px;
}
.i-awaken56 {
    background-position: 0 -1375px;
}
.i-awaken57 {
    background-position: 0 -1400px;
}
.i-awaken58 {
    background-position: 0 -1425px;
}
.i-awaken59 {
    background-position: 0 -1450px;
}
.i-awaken60 {
    background-position: 0 -1475px;
}
.i-awaken61 {
    background-position: 0 -1500px;
}
.i-awaken62 {
    background-position: 0 -1525px;
}
.i-awaken63 {
    background-position: 0 -1550px;
}
.i-awaken64 {
    background-position: 0 -1575px;
}