@import '_icon.attr.scss';
@import '_icon.card.scss';
@import '_icon.drop.scss';
@import '_icon.type.scss';
@import '_icon.kakusei.scss';

.icon-tool {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 24px 24px;
}
.icon-text-unlimited::before {
    content: '不限';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-all::before {
    content: '全版';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-row::before {
    content: '横排';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-col::before {
    content: '縦列';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-random::before {
    content: '隨機';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-cross::before {
    content: '十字';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-text-L::before {
    content: 'Ｌ字';
    display: inline-block;
    margin: 2px -2px 0 -2px;
    font-style: normal;
}
.icon-arrow-right {
    display: inline-block;
    margin: 0;padding: 0;
    width: 26px;
    height: 16px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath fill='coral' d='M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z'%3E%3C/path%3E%3C/svg%3E");
    font-style: normal;
    background-size: 10px 16px;
    animation: arrow-right .6s linear infinite;
}
.icon-arrow-down {
    display: inline-block;
    margin: 0;padding: 0;
    width: 16px;
    height: 26px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='coral' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z'%3E%3C/path%3E%3C/svg%3E");
    font-style: normal;
    background-size: 10px 16px;
    animation: arrow-down .6s linear infinite;
}
@keyframes arrow-down {
    0% { background-position-y: 0%; }
    50% { background-position-y: 50%; }
    100% { background-position-y: 100%; }
}
@keyframes arrow-right {
    0% { background-position-x: 0%; }
    50% { background-position-x: 50%; }
    100% { background-position-x: 100%; }
}

.icon-opacity-1 { opacity: .1; }
.icon-opacity-5 { opacity: .5; }